<% include header %>
<div class="news-account">
    <div class="row">
        <div class="col-md-2 na-left">
            <ul>
                <li data-href="na-user-info"><a href="javascript:;">基本信息</a></li>
                <li data-href="na-user-head-portrait"><a href="javascript:;">修改头像</a></li>
                <li data-href="na-user-password"><a href="javascript:;">修改密码</a></li>
            </ul>
        </div>
        <div class="col-md-7 na-right">
            <div class="na-user-info" style="display: block">
                <form class="form-horizontal" onsubmit="return updateUser(event)">
                    <div class="form-group">
                        <label for="input1" class="col-sm-3 control-label"><span class="text-danger">*</span>昵称：</label>
                        <div class="col-sm-6">
                            <input type="text" name="nickName" class="form-control" id="input1" value="<%= user.nickName %>" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input2" class="col-sm-3 control-label"><span class="text-danger">*</span>邮箱：</label>
                        <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" id="input2" value="<%= user.email %>" placeholder="请输入email"
                                   disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input4" class="col-sm-3 control-label">姓名：</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" id="input4" value="<%= user.name %>" placeholder="请输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input4" class="col-sm-3 control-label">手机：</label>
                        <div class="col-sm-6">
                            <input type="text" name="phone" class="form-control" id="input4" value="<%= user.phone %>" placeholder="请输入手机" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input6" class="col-sm-3 control-label">性别：</label>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio1" value="MAN" <%= user.gender === 'MAN' ? 'checked' : '' %> > 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio2" value="FEMALE" <%= user.gender === 'FEMALE' ? 'checked' : '' %>> 女
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio3" value="SECRECY" <%= user.gender === 'SECRECY' ? 'checked' : '' %>> 保密
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input7" class="col-sm-3 control-label">联系地址：</label>
                        <div class="col-sm-6">
                            <input type="text" name="address" class="form-control" id="input7" value="<%= user.address %>" placeholder="请输入联系地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input8" class="col-sm-3 control-label">QQ：</label>
                        <div class="col-sm-6">
                            <input type="text" name="qq" class="form-control" id="input8" value="<%= user.qq %>" placeholder="请输入qq">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input9" class="col-sm-3 control-label">生日：</label>
                        <div class="col-sm-6">
                            <input type="date" name="birthday" class="form-control" id="input9" value="<%= moment(user.birthday).format('YYYY-MM-DD') %>" placeholder="请输入生日">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input10" class="col-sm-3 control-label">介绍：</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="introduction" rows="2" id="input10"
                                      placeholder="请输入一段介绍"><%= user.introduction %></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">确认修改</button>
                        </div>
                    </div>
            </form>
            </div>
            <div class="na-user-password">
            <form class="form-horizontal" onsubmit="return updatePassword(event)">
                <div class="form-group">
                    <label for="input1" class="col-sm-3 control-label"><span class="text-danger">*</span>原始密码：</label>
                    <div class="col-sm-6">
                        <input type="password" name="oldPassword" class="form-control" id="input1" minlength="6" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input2" class="col-sm-3 control-label"><span class="text-danger">*</span>新密码：</label>
                    <div class="col-sm-6">
                        <input type="password" name="password" class="form-control" id="input2" minlength="6" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input2" class="col-sm-3 control-label"><span class="text-danger">*</span>确认密码：</label>
                    <div class="col-sm-6">
                        <input type="password" name="enterPassword" class="form-control" id="input2" minlength="6" required>
                    </div>
                    <div class="form-error">两次密码不一致</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </div>
            </form>
        </div>
            <div class="na-user-head-portrait">
            <form class="form-horizontal" action="/user/updateHeadPortrait" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="headPortrait" class="col-sm-3 control-label"><span class="text-danger">*</span>图片：</label>
                    <div class="col-sm-6">
                        <p>
                            <img src="<%= user.headPortrait %>" width="70" height="70" id="head-portrait-img" alt="">
                        </p>
                        <input type="file" name="headPortrait" class="form-control" id="headPortrait">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
</div>
</div>
<script src="/js/ajaxfileupload.js"></script>
<script>
    function updateUser(e) {
        e.preventDefault()
        var name = $('.na-user-info [name="name"]').val()
        var phone = $('.na-user-info [name="phone"]').val()
        var gender = $('.na-user-info [name="gender"]').val()
        var address = $('.na-user-info [name="address"]').val()
        var qq = $('.na-user-info [name="qq"]').val()
        var birthday = $('.na-user-info [name="birthday"]').val()
        var introduction = $('.na-right [name="introduction"]').val()
        $.ajax({
            url:'/user/updateUserInfo',
            type:'post',
            data:{ name:name, phone:phone, gender:gender, address:address, qq:qq, birthday:birthday, introduction:introduction },
            success:function (data) {
                alert(data.message)
            },
            error:function (err) {
                alert('修改失败，请联系管理员！')
            }
        })
        return false
    }
    function updatePassword(e) {
        e.preventDefault()
        var oldPassword = $('.na-user-password [name="oldPassword"]').val()
        var password = $('.na-user-password [name="password"]').val()
        var enterPassword = $('.na-user-password [name="enterPassword"]').val()
        var $enterPwdGroup = $('.na-user-password [name="enterPassword"]').parent().parent()
        if (password !== enterPassword) {
            $enterPwdGroup.addClass('has-error')
            return false
        } else {
            $enterPwdGroup.removeClass('has-error')
        }
        $.ajax({
            url:'/user/updatePassword',
            type:'post',
            data:{ oldPassword:oldPassword, password:password },
            success:function (data) {
                alert(data.message)
            },
            error:function (err) {
                alert('修改失败，请联系管理员！')
            }
        })
        return false
    }
    function updatePortrait(e) {
        e.preventDefault()
        $.ajaxFileUpload({
            url: '/user/updateHeadPortrait',
            fileElementId:'headPortrait',
            success:function (data) {
                // data = eval($($(data)[0].body).find('pre').html())
                alert(data.message)
            },
            error:function (data, status, e) {
                alert(e)
            }
        })
        return false
    }
    $(function () {
        $('.na-left li').on('click', function () {
            $('.na-right > div').hide()
            $('.' + $(this).data('href')).show()
        })
        $('.na-user-head-portrait [name="headPortrait"]').on('change', function () {
            var file = $(this).get(0).files[0]
            var reader = new FileReader();
            reader.onload = function(e){
                var data = e.target.result;
                $('#head-portrait-img').attr('src', data)
            }
            // 以DataURL的形式读取文件:
            reader.readAsDataURL(file);
        })
    })
</script>
<% include footer.ejs %>